.navbar {
    display: flex;
    box-shadow: rgba(0,0,0, 0.15) 0px -2px 10px 0px;
    justify-content: space-between;
    align-items: center;
    padding: .5em 2em;
}

.brand {
    color: rgb(114, 68, 156);
    text-decoration: none;
    font-size: 1.1em;
}

.brand span {
    font-size: 1.3em;
    font-weight: 900;
}

.links_list {
    display: flex;
    list-style: none;
}

.links_list li {
    margin-right: 1em;
}


.links_list li a {

    color: rgb(166, 99, 230);
    text-decoration: none;
    padding: 0.4em 0.6em;
}


.links_list li a:hover {
    font-weight:800;
}

.active {
    font-weight:800;
}

.links_list button {
    font-size: 16px;
    color: rgb(166, 99, 230);
    text-decoration: none;

    display: flex;
    list-style: none;
}

.links_list button:hover {
    font-weight:800;
}